*{
    color: #fff;
}

body{
    background-color: #040404;
}

.headerTitle{
    position: center;
}
.bodyGroupOne{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
}
.bodyGroupOne div{
    background-color: grey;
    padding:5%;
    border:0 2% 2% 0;
    border-color:#040404;
}